[submodule "backendProject"]
	path = backendProject
	url = https://github.com/ordenmeny/UnitSPI.git
[submodule "UniMatch-Frontend"]
	path = UniMatch-Frontend
	url = https://github.com/mmarkizz/UniMatch-Frontend.git
